<div class="h-3/6 w-3/6 m-10">
    <canvas id="myChart" width="400" height="400"></canvas>
</div>


<script>
    var gatepassData = {
        labels: ['January', 'February', 'March', 'April', 'May'],
        datasets: [{
            label: 'Gatepass Requests',
            data: [12, 19, 3, 5, 2],
            backgroundColor: 'rgba(75, 192, 192, 0.2)', // Background color
            borderColor: 'rgba(75, 192, 192, 1)', // Border color
            borderWidth: 1
        }]
    };
    
    // Get the canvas element
    var ctx = document.getElementById('myChart').getContext('2d');
    
    // Create a bar chart
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: gatepassData,
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

</script>